<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contacts</title>
  <link rel = "stylesheet" type = "text/css" href = "./stylesheets/styles.css" />
</head>
<body>
	<div id = "title-area">
		<h1 id = "title">H O R R O R: list of death</h1>
	</div>

	<div id = "categories-wrapper">

		<div id = "categories-buttons-area">
			<div id = "categ1" class = "categ-button"><span>categ1</span></div>
			<div id = "categ2" class = "categ-button"><span>categ2</span></div>
			<div id = "categ3" class = "categ-button"><span>categ3</span></div>
			<div id = "view-all" class = "view-all-button"><span>ViewAllVictims</span></div>
		</div>

		<br>name: <input type = "text" id = "name-input">
		<br>age: <input type = "text" id = "age-input">
		<br>phone: <input type = "text" id = "phone-input">
		<br>address: <input type = "text" id = "address-input">
		<br>category: <span id = "alex"></span>
		<br><button id = "add-contact-button">SUBMIT</button>
	</div>

	<div id = "contact-field">
		<ul id = "contact-list" style = "list-style:none">
		</ul>
	</div>

</body>


<script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script type = "text/javascript" src = "/javascripts/scripts.js"></script>
</html>